body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
}

.title {
  font-size: 17px;
  font-weight: bold;
}

.move-icon {
  height: 25px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 65px;
  height: 65px;
  border-radius: 33px;
  margin-right: 10px;
  cursor: pointer;
}

.result {
  font-size: 14px;
  font-weight: bold;
  /* margin-top: 22px; */
}

.score {
  /* margin-top: 8px; */
}

.reset-score-button {
  background-color: white;
  border: none;
  font-size: 11px;
  padding: 5px 11px;
  cursor: pointer;
}